.idea

Client/HELP.md
Client/.gradle
Client/build/
!Client/gradle/wrapper/gradle-wrapper.jar
!Client/**/src/main/**/build/
!Client/**/src/test/**/build/
Server/HELP.md
Server/.gradle
Server/build/
!Server/gradle/wrapper/gradle-wrapper.jar
!Server/**/src/main/**/build/
!Server/**/src/test/**/build/

### STS ###
Client/.apt_generated
Client/.classpath
Client/.factorypath
Client/.project
Client/.settings
Client/.springBeans
Client/.sts4-cache
Client/bin/
!Client/**/src/main/**/bin/
!Client/**/src/test/**/bin/
Server/.apt_generated
Server/.classpath
Server/.factorypath
Server/.project
Server/.settings
Server/.springBeans
Server/.sts4-cache
Server/bin/
!Server/**/src/main/**/bin/
!Server/**/src/test/**/bin/


### IntelliJ IDEA ###
Client/.idea
Client/*.iws
Client/*.iml
Client/*.ipr
Client/out/
!Client/**/src/main/**/out/
!Client/**/src/test/**/out/
Server/.idea
Server/*.iws
Server/*.iml
Server/*.ipr
Server/out/
!Server/**/src/main/**/out/
!Server/**/src/test/**/out/


### NetBeans ###
Client//nbproject/private/
Client//nbbuild/
Client//dist/
Client//nbdist/
Client//.nb-gradle/
Server//nbproject/private/
Server//nbbuild/
Server//dist/
Server//nbdist/
Server//.nb-gradle/

### VS Code ###
Client/.vscode/
Client/.gitignore
Client/.gitattributes
Server/.vscode/
Server/.gitignore
Server/.gitattributes